<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="liga.store.warehouseservice.core.repository.LogRepository">

    <resultMap id="LogEntity" type="liga.store.warehouseservice.core.model.entity.LogEntity" autoMapping="true">
        <id property="id" column="id" jdbcType="BIGINT"/>
    </resultMap>

    <select id="findAll" resultMap="LogEntity">
        SELECT *
        FROM warehouse_data.log;
    </select>

    <select id="findById" resultMap="LogEntity">
        SELECT *
        FROM warehouse_data.log
        WHERE id = #{logId, jdbcType=BIGINT};
    </select>

    <insert id="insert" useGeneratedKeys="true" keyColumn="id" keyProperty="id"
            parameterType="liga.store.warehouseservice.core.model.entity.LogEntity">
        INSERT INTO warehouse_data.log (create_dttm, method_name, class_name, user_name)
        VALUES (#{createDttm}, #{methodName}, #{className}, #{userName});
    </insert>

</mapper>